<a style="text-align: right;" href="makepost">create post</a>

<div class="row">
    <div class="lefcolumn">
        {% for post in posts reversed%}
        <div class="card">
            <a style="text-decoration: none; color: black" href="post/{{post.id}}">
                <h2>{{post.title}}</h2>
                <h5>{{post.created_at}}</h5>
                <p>{{post.body|truncatewords:20}}</p>
                <br>
            </a>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>